{% extends "public/base.html" %}
{% load bootstrap %}
{% load staticfiles %}

{% block title %}Alliance Auth{% endblock %}
{% block page_title %}Paplink view{% endblock page_title %}

{% block content %}
    <div class="col-lg-12">
        <h1 class="page-header text-center">Edit paplink "{{ paplink.name }}"
            <div class="text-right">
                <form>
                    <button type="submit" onclick="return confirm('Are you sure?')" class="btn btn-danger" name="deletepap" value="True">
                        Delete pap
                    </button>
                </form>
            </div>
        </h1>
        <h4><b>Registered characters</b></h4>
        <table class="table table-responsive table-bordered">
            <tr>
                <th class="text-center">User</th>
                <th class="text-center">Character</th>
                <th class="text-center">System</th>
                <th class="text-center">Ship</th>
                <th class="text-center">Eve Time</th>
                <th></th>
            </tr>
            {% for pap in registered_paps %}
            <tr>
                <td class="text-center">{{ pap.user }}</td>
                <td class="text-center">{{ pap.character.character_name }}</td>
                {%  if pap.station != "None" %}
                <td class="text-center">Docked in {{ pap.system }}</td>
                {% else %}
                <td class="text-center">{{ pap.system }}</td>
                {% endif %}
                <td class="text-center">{{ pap.shiptype }}</td>
                <td class="text-center">{{ pap.paplink.papdatetime }}</td>
                <td class="text-center">
                    <form>
                        <button type="submit" class="btn btn-warning" name="removechar" value="{{ pap.character.character_id }}"><span
                                class="glyphicon glyphicon-remove"></span></button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>


<script src="/static/js/dateformat.js"></script>

{% endblock content %}
